/*tampilan body*/
body {
	background-image: url(../gambar/banking.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0px;
	min-width: 1300px;
}
		/*<--HEADER-->*/
/*mengatur tampilan header*/
div.header {
	height: 50px;
	background-color: #2A3D5E;
}

/*mengatur tampilan gambar id="dcs" pada header*/
img#dcs {
	position: relative;
}

/*mengatur tampilan gambar id="dc" pada header*/
img#dc{
	position: relative;
	float: right;
}
		/*<--NAVBAR-->*/
/*mengatur tampilan navbar*/
.menu {
	padding: 10px;
	border:1px solid black;
	background-color: #ccc;
	margin-top:0 auto;
}
/*mengatur tampilan kotak navbar*/
.menu ul {
	list-style:none;
	margin-left:25%;
}
/*mengatur tampilan teks navbar pada header*/
.menu a{
	text-decoration:none;
	color:#F5F5F5;
	font-weight:bold;
	margin-left:50px;
	margin-right:50px;
	font-size: 20px;
}
/*mengatur tampilan kotak navgar pada header*/
.menu li{
	display:inline;
	background-color:#003399;
	padding:20px;
	border-right:solid 1px;
}
/*mengatur tampilan kotak navbar ketika diarahkan pada header*/
.menu li:hover{
background-color:#FF7F50;
}
		/*<--CONTENT-->*/
/*mengatur tampilan tabel pada content*/
.table {
	text-align: center;
	border-collapse:  collapse;
	margin : auto;
	background-color:rgba(255,255,255,0.3);
	font-weight:bold;
}
.table td, .table th {
	border: 2px solid #ddd;
	padding : 8px;
}
/*.table tr:nth-child(even){background-color: #B0C4DE;} /* warna untuk tabel ke 1(genap)*/

.table tr:hover {background-color: #F5F5F5/*warna ketika diarahin*/;}

.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: /*#8B4513*/ #A9A9A9 /*(darkgrey)warna untuk th pada tabel*/;
	color: darkgreen;
}

/*tampilan footer*/
div#footer {
	height: 155px;
	background-color: #2A3D5E;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

/*mengatur posisi gambar di footer*/
div#footer img{
	position: relative;
	left: 47%

}

/*mengatur posisi dan tampilan teks di footer*/
div#footer p{
	color:	#f1f1f1;
	font-size: 12pt;
	text-align: center;
	position: relative;
	bottom: 11px
}
.select{
	text-align: center;
}
